<p>Hello <%= name %>,</p>
<p>We received a request to reset your password for your Kids World account.</p>
<p>Click the button below to choose a new password. This link is valid for 10 minutes.</p>

<a href="<%= resetUrl %>" style="background-color: #ff5a5f; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
    Reset My Password
</a>

<p>If you didn't request this, you can safely ignore this email.</p>